.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding-left: 470px;
}

.h2 {
    margin-bottom: 20px;
}

.list-group {
    width: 100%;
    max-width: 600px;
}

.list-group-item {
    margin-bottom: 10px; /* Add space between list items */
}