body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(33, 130, 98);
}

.list-group-item {
    transition: background-color 0.3s, color 0.3s;
}

.list-group-item:hover {
    background-color: #2bbe61;
    color: #fff;
}